<div id="<%= dom_id post %>">
  <div class="form-group">
    Title: <%= post.title %>
  </div>

  <div class="form-group">
    Description: <%= post.description %>
  </div>

  <% post.files.each do |file| %>
    <%= link_to file.filename, file_content_post_url(post.id, file_id: file.id) %>
    <%# if file.representable? %>
      <%#= image_tag(file, width: 100, height: 100, class: 'img-thumbnail') %>
    <%# else %>
      <%#= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
    <%# end %>
  <% end %>
</div>
